main {
  background: #ECF4FF;
  min-height: calc(100vh - 96px - 85px);
  padding: 96px 0;
}

.login-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.login-subtitle {
  font-size: 30px;
  text-align: center;
  color: #a0aec0;
  margin-bottom: 30px;
}

.login-form {
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  padding: 48px ;

  .form-label {
    color: #4a5568;
    margin-bottom: 8px;
    font-weight: 600;
  }

  .form-control {
    background-color: #f7fafc;
  }
}

.forgot-pass {
  text-align: center;
  color: #48bb78;
  cursor: pointer;
  margin-top: 24px;
}

.no-account {
  margin-top: 24px;
  color: #a0aec0; 

  .sign-up-text {
    display: inline;
    color: #48bb78;
    cursor: pointer;
    font-weight: 700;
  }
}

.err-mess-login {
  color: #EB1400;
  font-size: 14px;
  text-align: center;
}