$white: #fff;
$lightGrey: #EDF1F7;
$lightMedGrey: #D7D7D7;
$mediumGrey: #AEBBD2;
$darkGrey: #646D7E;
$lightPurple: #8F9BB3;
$darkPurple: #222B45;
$mediumGreen: #00C583;
$superlightGreyBlue: #E6ECFA;
$lightGreyBlue: #CBD6EE;
$blue: #3366FF;
$red: #eb1400;
$orange: #FFAA00;
